/* 
RESET 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.special-container {
    max-width: 700px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}




/* 
HEADER 
*/

header .header-top {
    height: 80px;
    padding: 20px;
}

.header-top nav ul > li {
    display: inline-block;
}

.header-col {
    height: 40px;
    line-height: 40px;
}

.header-col-logo {
    width: calc((100% / 8 ) * 2);
    padding-left: 10px;
}

.header-col-link {
    width: calc((100% / 8 ) * 4);
    text-align: center;
}

.header-col-link li {
    margin: 0 25px
}

.header-col-login {
    width: calc((100% / 8 ) * 2);
    padding-right: 10px;
    text-align: right;
}


.header-bottom {
    height: 400px;
    padding: 50px;
}

.debug .big-header-content {
    height: 300px;
}

/* 
MAIN 
*/
.section-main {
    height: 500px;
    padding: 50px;
}

main > section:nth-child(even) {
    background-color: lightgray;;
}

.square-main {
    height: 400px;
}

.square-main-bigger {
    width: 60%;
}

.square-main-smaller {
    width: 40%;
}

.section-main-bigger {
    height: 700px;
    padding: 50px;
}

.big-main-content {
    height: 600px;
    width: 100%;
}

/* 
FOOTER 
*/

.footer-top {
    height: 500px;
    padding: 25px;
}

.square-f {
    height: 450px;
}

.small-square {
    width: 30%;
}

.big-square {
    width: 70%;
    display: flex;
}

.big-square-child {
    width: 100%;
}

hr {
    margin-top: 20px;
}

.footer-bottom {
    height: 100px;
    padding: 20px;
}

.bottom-square {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.push-footer {
    padding: 5px;
}


/* 
DEBUG 
*/

.debug .container, .special-container {
    border: 1px solid black;
}


.debug .header-top {
    background-color: rgb(103, 193, 192);
}

.debug .header-bottom {
    background-color: rgb(98, 124, 203);
}

.debug .nav-bar {
    background-color: brown;
}


.debug .header-col {
    border: 1px dashed black;
}

.debug .big-header-content {
    background-color: bisque;
    border: 1px dashed black;
}


.debug .square-main {
    border: 1px dashed black;
}

.debug .square-main-bigger {
    background-color: dodgerblue;
}

.debug .square-main-smaller {
    background-color: palevioletred;
}


.debug .big-main-content {
    background-color: darkolivegreen;
    border: 1px dashed red;
}

.debug .footer-top, .footer-bottom {
    background-color: rgb(23, 22, 22);
    color: white;
}

.debug .square-f {
    border: 1px dashed white;
}

.debug .small-square {
    background-color: blueviolet;
}

.debug .big-square {
    background-color: cadetblue;
}

.debug .big-square-child {
    border: 1px dashed white;
}



.debug .footer-bottom {
    height: 100px;
    padding: 20px;
}

.debug .bottom-square {
    background-color: rgb(66, 186, 186);
}

.debug .push-footer {
    border: 2px dashed pink;
    background-color: coral;
}

